apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-cm
  labels:
    app: nginx
data:
  nginx.conf: |
    upstream Backend {
      server fastapi-svc.default.svc.cluster.local
    }
    server {
      listen 127.0.0.1:8000;
      
      location {
        proxy_pass: http://Backend
      }
    }