apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-cm
  labels:
    app: nginx
data:
  default.conf: |
    upstream apiserver {
      server fastapi-svc.default.svc.cluster.local:8000;
    }
    server {
      listen 127.0.0.1:8000;
      
      location / {
        proxy_pass http://apiserver;
      }
    }