apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
  labels:
    app: nginx
spec:
  selector:
    matchLabels:
      app: nginx
  replicas: 1
  template:
    metadata:
      labels:
        app: nginx
    spec:
      volumes:
        - name: config-volume
          configMap:
            name: nginx-cm
      containers:
        - name: nginx
          image: nginx:latest
          ports:
            - containerPort: 8000
          command:
            - "-c"
            - "/etc/nginx/nginx.conf"
          volumeMounts:
            - name: config-volume
              mountPath: /etc/nginx
          lifecycle:
            preStop:
              exec:
                command:
                  [
                    "/usr/sbin/nginx",
                    "-s",
                    "quit",
                  ]