apiVersion: apps/v1
kind: Deployment
metadata:
  name: fastapi
  labels:
    app: fastapi
spec:
  replicas: 1
  selector:
    matchLabels:
      app: fastapi
  template:
    metadata:
      labels:
        app: fastapi
    spec:
      containers:
        - name: fastapi
          image: tiangolo/uvicorn-gunicorn-fastapi:python3.8
          ports:
            - containerPort: 8000
          env:
            - name: MAX_WORKERS
              value: "2"
            - name: HOST
              value: 127.0.0.1
            - name: PORT
              value: "8000"